:root {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text-color: #fff;
  --bg-color: #000;
  
  --primary-color: #007bff;
  --secondary-color: #163554;
  --accent-color: #f1750f;

  --overlay-color: rgba(128, 128, 128, 0.5);
  
  --fs-sm: 0.5rem;
  --fs-md: 1rem;
  --fs-lg: 1.5rem;
  --fs-xl: 2rem;
  
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

.container {
  margin: 1rem;
}